<!DOCTYPE html>
<html>
    <head>
        <link href="@Url.Content("~/CSS/CSSlibrary.css")" rel="stylesheet" type="text/css" />
    </head>
    <body>
        
            @RenderBody()

        @RenderSection("scripts", required: false)
    </body>
</html>
